@media (max-width: 1440px) {
    .container {
        max-width: 920px;
        padding: 0px 15px;
        margin: 0px auto;
    }

    .logo {
        margin-top: 6px;
        margin-bottom: 8px;
    }

    .logo__img {
        width: 190px;
    }

    .nav__menu-btn {
        width: 133px;
        height: 39px;
        margin-left: 44px;
        margin-top: -3px;
        padding-top: 3px;
        padding-right: 28px;
    }

    .nav-row {
        margin-left: 97px;
        margin-top: -10px;
    }

    .nav__menu-btn::after {
        right: 24px;
        top: 11px;
        padding: 3px;
    }

    .header__title  {
        margin-top: 117px;
        left: -15px;
        max-width: 535px;
        width: 100%;
    }

    .header__info {
        left: -7px;
        top: 45px;
    }

    .header-btn {
        padding: 11px 26px 11px 26px;
    }

    .header  {
        height: 815px;
    }

    .portfolio__blok {
        margin-top: 26px;
        justify-content: center;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    /* .container_one {
        padding-left: 144px;
        padding-right: 144px;
    } */

    .img_wrapper {
        max-width: 275px;
    }

    .portfolio__block-card {
        max-width: 275px;
    }

    .portfolio__blok_link:nth-child(2) {
        margin-top: 61px;
    }

    .portfolio__blok_link:nth-child(3) {
        margin-top: -62px;
    }

    .text_number {
        margin-right: 6px;
    }

    .portfolio__block_deskr-text {
        margin-top: 2px;
    }

    .portfolio__block_descr {
        margin-bottom: 15px;
    }

    .portfolio__blok_link:nth-child(5) {
        margin-top: -19px;
    }

    .portfolio__blok_link:nth-child(6) {
        margin-top: -140px;
    }

    .portfolio__btn  {
        width: 166px;
        margin-top: -14px;
    }

    .btn {
        padding: 11px 28px 11px 28px;
    }

    .padding_bottom_121_1440 {
        padding-bottom: 121px;
    }

    .padding_top_114_1440 {
        padding-top: 114px;
    }

    .preview__subtitle::before {
        width: 22px;
    }

    .preview__title {
        margin-left: -6px;
    }

    .grad-line {
        margin-right: 21px;
    }

    .preview__block_text  {
        max-width: 402px;
    }

    .preview__block_text-1 {
        margin-right: 89px;

    }

    .preview__block_text-2 {
        max-width: 399px;
    }

    .preview__creeping_line span::after {
        width: 22.75px;
        height: 22.75px;
        margin-left: 41px;
        margin-right: 35px;
    }

    .padding_52_1440 {
        padding-bottom: 52px;
    }

    .padding_top_78_1440 {
        padding-top: 78px;
    }

    .slider_reviews_inner_block_img>p {
        height: 335px;
        overflow: scroll;
    }

    .slider__reviews  {
        overflow-x: hidden;
    }

    .product__list-subtitle::before {
        width: 21px;
    }

    .product__list_item-num {
        margin-top: 12px;
        margin-right: 18px;
        width: 61px;
    }

    .product__list_column--img {
        width: 379px;
        /* margin-top: -128px; */
        height: 636px;
    }

    .product__list_column-2 {
        margin-left: 88px;
    }

    .width_103 {
        width: 103%;
    }

    .product__list_column--img {
        margin-bottom: 33px;
    }

    .margin_10_1440 {
        margin-top: -10px;
    }

    .padding_18_1440 {
        padding-bottom: 18px;
    }

    .padding_30_1440 {
        padding-bottom: 30px;
    }

    .concept__img  {
        width: 275px;
        height: 275px;
        margin-top: 30px;
    }

    .concept {
        padding-top: 90px;
        padding-bottom: 114px;
    }
    .concept__list  {
        margin-left: 47px;
    }

    .subtitle::before {
        width: 20px;
    }

    .concept__list_text {
        max-width: 225px;
    }

    .concept__list_text_two {
        margin-right: 4px;
    }

    .concept__list_block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .community__subtitle:before {
        width: 20px;
    }
    .slider_reviews_left_top {
        padding-bottom: 149px;
    }

    .slider_reviews_left_bottom_text {
        padding-bottom: 133px;
    }

    .swiper-pagination-current, .swiper-pagination-total{
        font-size: 15px;
    }

    .swiper-pagination-two > .swiper-pagination-current {
        padding-right: 12px;
    }

    .slider_revies_numer_dash {
        width: 35px;
    }

    .slider_revies_numer_dash_two {
        width: 35px;
    }

    .swiper-pagination-two > .swiper-pagination-total {
        padding-left: 8px;
    }

    .swiper-slide {
        height: 424px !important;
    }

    .slider__nav-wrapper-two {
        margin-top: 73px;
        width: 118px;
        height: 0px;
    }

    .swiper-button-two {
        margin-right: 39px;
    }

    .container_three {
        /* padding-left: 145px;
        padding-right: 144px; */
    }

    .form {
        padding-top: 114px;
        padding-bottom: 114px;
    }

    .form__subtitle  {
        padding-bottom: 26px;
    }

    .form__input input {
        font-style: normal;
        font-weight: 300;
        font-size: 12.1309px;
        line-height: 15px;
    }

    .form__input input::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 12.1309px;
        line-height: 15px;
    }

    .form__social-wrapper {
        grid-row-gap: 30px;
        column-gap: 30px;

    }

    .form__social {
        max-width: 420px;
    }

    .form__social_link  {
        width: 60px;
        height: 60px;
    }

    .form__social_link  svg{
        width: 58px;
        height: 58px;
    }

    .form__block {
        max-width: 380px;
    }

    .form__btn-wrapper {
        margin-top: -6px;
    }

    .form__btn {
        padding: 11px 9px;
        width: 304px !important;
        margin-right: 17px;
    }

    .community__title  {
        /* max-width: 450px; */
    }

    .community__block-text--two {
        margin-left: 70px;
    }

    .community__human-img {
        width: 227px;
        height: 238px;
        padding-bottom: 8px;
    }

    .community_btn {
        width: 210px;
    }

    .community__block-text {
        max-width: 485px;
    }

    .community__block-text--two {
        margin-left: 75px;
    }

    .community {
        padding-bottom: 117px;
    }

    .intro__title  {
        max-width: 700px;
    }

    .intro__text {
        max-width: 395px;
    }

    .intro__text-two {
        margin-left: 50px;
    }

    .intro__text_item {
        max-width: 260px;
    }

    .intro__text_block {
        margin-bottom: 34px;
    }

    .intro__text_block-two{
        justify-content: flex-start;
        column-gap: 50px;
        row-gap: 16px;
    }

    .intro__text_item {
        margin-bottom: 30px;
    }

    .intro {
        padding-bottom: 65px;
    }

    .slider__subtitle:before {
        width: 22px;
    }

    .slide {
        height: 438px !important;
        margin-right: 15px !important;
        padding: 240px 78px 0 40px;
    }

    .slider__nav-wrapper {
        padding-top: 54px;
    }

    .slider__nav {
        width: 170px;
    }

    .swiper-pagination-current {
        margin-right: 20px;
    }

    .swiper-pagination-total {
        margin-left: 20px;
    }

    .slider {
        padding-bottom: 100px;
    }

    .form__request {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .form__request-text  {
        max-width: 440px;
    }

    #arrow {
        top: 96px;
        transform: translate(246px);
    }

    object {
        max-width: 34%;
    }

    .form__request-text {
        margin-bottom: 95px;
    }

    .form__request_block {
        max-width: 540px;
        margin-right: 73px;
    }

    .header_subservice {
        height: auto;
    }
    .form__request_btn {
        font-style: 13px !important;
    }

    .form__request-wrapper {
        margin-bottom: 27px;
    }

    .form__request {
        height: initial;
    }

    .last__section_subtitle:before {
        width: 20px;
    }

    .last__section_title {
        /* max-width: 375px; */
    }

    .last__section_pretext {
        margin-left: 0px;
    }

    .last__section_pretext-item-one {
        margin-left: 0px;
    }

    .last__section_pretext-text {
        margin-right: 80px;
    }

    .last__section_pretext-item-two{
        margin-left: 80px;
    }

    .pretext__icon {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .last__section_block-two {
        max-width: 400px;
        margin-left: 92px;
    }

    .last__section_block {
        max-width: 400px;
    }

    .padding_21_1440 {
        line-height: 18px;
        padding-bottom: 21px;
    }

    .line_18_1440 {
        line-height: 18px;
    }
    
    .last__section_block-text {
        padding-bottom: 34px;
    }

    .last__section_img-two {
        padding-bottom: 27px;
    }

    .padding_17_1440 {
        line-height: 18px;
        padding-bottom: 17px;
    }

    .one--hidden {
        height: 213px;
    }

    .last__section {
        padding-bottom: 86px;
    }

    .footer__logo {
        width: 84px;
        margin-top: 19px;
        margin-left: 18px;
    }

    .footer__link-wrapper {
        margin-left: 276px;
        width: 93px;
    }

    .footer__title {
        margin-right: 92px;
        margin-top: 4px;
        padding-bottom: 30px;
    }

    .footer__copirate {
        margin-top: 90px;
    }

    .slider__nav>div>.swiper-pagination-current {
        font-size: 15px;
        margin-right: 14px;
      }
      
      .slider__nav>div>.swiper-pagination-total {
        font-size: 15px;
        margin-left: 14px;
      }
      
      .slider__nav {
        margin-top: 0px;
      }

      .header__title_subservice {
        max-width: 600px;
    }

    .intro__text-bullet-1 img{
        width: 4px;
    }

    .intro__text-bullet-2 img{
        width: 15px;
    }

    .intro__text-bullet-3 img{
        width: 27px;
    }

    .intro__text-bullet-4 img{
        width: 16px;
    }

    .intro__text-bullet img{
        width: 23px;
    }

    .intro__text-bullet-6 img{
        width: 27px;
    }

    .state-site-block{
        max-width: 400px;
    }

    .state-site-block-width{
        min-width: auto;
    }

    .enterprise_img-desktop{
        width: 401px;
        height: 696px;
        max-width: none;
        margin-top: -150px;
    }

    .bitrix_structure__block .border-black, .static_list-p{
        width: 95%;
    }

    .bitrix_structure__block .static_list-p{
        min-width: 95%;
    }

    .structure__blocks{
        /* column-gap: 20px; */
    }

    .form__text-descr{
        line-height: 100%;
    }
    
    .form__request-text{
        max-width: 593px;
    }

    /* .structure__block ul li{
        font-size: 18px;
    } */

    /* .static_list-p{
        font-size: 12px;
    } */

    .subservice_rules_wrapper .line-height18{
        line-height: 18px;
    }

    .enterprise_site_img .enterprise_site_img_block:not(:nth-child(1)){
        display: none;
      }
  
      .enterprise_site_img .enterprise_site_img_block:nth-child(1){
        display: inline-block;
      }

      .subservice_rules_logo .subservice_rules_logo_img:not(:nth-child(2)){
        display: none;
      }
  
      .subservice_rules_logo .subservice_rules_logo_img:nth-child(2){
        display: inline-block;
      }

      .subservice_rules_wrapper .line-height18{
        line-height: 140%;
        font-size: 16px;
        max-width: 405px;
        margin-right: 30px;
      }

      .medical_site .header__title_subservice{
        max-width: 100%;
      }

      .med_org .product__list_column--img{
        margin-top: -178px;
      }

      .med_org .structure__block ul li{
        font-size: 24px;
        line-height: 118%;
        }

    .med_org .structure__block ul li p{
        font-size: 16px;
    }

    .med_org .p3_black{
        font-size: 16px;
        line-height: 24px;
    }

    .internet_magazin .structure__block ul li{
        font-size: 24px;
        line-height: 146%;
    }

    .internet_magazin .structure__block ul li p{
        font-size: 16px;
    }

    .intro__text_block-two_info-site{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }

    .intro__wrapper-new .intro__wrapper_blocks_media{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .intro__wrapper_block_media{
        margin-right: 0px;
        min-width: auto;
    }

    .sozd_kororat_site{
        padding-bottom: 0px;
    }

    .sozd_kororat_site .structure__block ul li:before{
        top: 9px;
    }

    .sozd_kororat_site .structure__block ul .structure-list__6:before{
        top: 32px;
    }

    .sozd_kororat_site .structure__block_title{
        margin-bottom: 20px;
    }

    .korporat_site_rules .korporat_site_rules_img:not(:nth-child(2)){
        display: none;
      }
      
    .korporat_site_rules .korporat_site_rules_img:nth-child(2){
        display: inline-block;
      }

      .lending_media{
        padding-bottom: 150px;
      }

      .lending_media2{
        padding-bottom: 120px;
      }

      .lending_rules_logo .lending_rules_logo_img:not(:nth-child(2)){
        display: none;
      }
      
      .lending_rules_logo .lending_rules_logo_img:nth-child(2){
        display: inline-block;
      }

      .lending .structure__block ul li {
        font-size: 24px;
        line-height: 130%;
    }

    .lending .structure__block ul li p{
        font-size: 16px;
    }

    .lending_product .lending_product_img:not(:nth-child(2)){
        display: none;
      }
      
      .lending_product .lending_product_img:nth-child(2){
        display: inline-block;
      }

      .lending .structure__block ul li {
        line-height: 130%;
    }

    .static_list-p{
        min-width: auto;
      }

      .lending .structure__blocks {
        column-gap: 0px;
    }

        .internet_mag_product .internet_mag_product_img:not(:nth-child(2)){
            display: none;
        }
        
        .internet_mag_product .internet_mag_product_img:nth-child(2){
            display: inline-block;
        }

        .enterprise_site_media .h2_black{
            font-size: 58px;
        }

        .enterprise_site_media .bitrix_structure__block ul li{
            line-height: 148%;
        }

        .product_list_medical .product_list_medical_img:not(:nth-child(2)){
            display: none;
          }
        
          .product_list_medical .product_list_medical_img:nth-child(2){
            display: inline-block;
            max-width: none;
            width: auto;
          }

          .med_org .h2_black{
            font-size: 55px;
            letter-spacing: -1px;
          }

          .opencart_media .subservice_task_item{
            padding-bottom: 40px;
          }

          .opencart_rules_logo .opencart_rules_logo_img:not(:nth-child(2)){
            display: none;
          }
          
          .opencart_rules_logo .opencart_rules_logo_img:nth-child(2){
            display: inline-block;
            width: auto;
            max-width: initial;
          }

          .open_cart_rules_media .p3_black {
            line-height: 23px;
        }

        .personal_syte_list .personal_syte_list_img:not(:nth-child(2)){
            display: none;
          }
          
          .personal_syte_list .personal_syte_list_img:nth-child(2){
            display: inline-block;
            max-width: none;
            width: auto;
          }

          .personal_site_media .bitrix_structure__block ul li{
            line-height: 114%;
          }

          .personal_site_rules_media .subservice_rules_wrapper_block-flex{
            flex-wrap: nowrap;
            column-gap: 40px;
          }

          .personal_site_rules_logo .personal_site_rules_logo_img:not(:nth-child(2)){
            display: none;
          }
          
          .personal_site_rules_logo .personal_site_rules_logo_img:nth-child(2){
            display: inline-block;
            max-width: none;
            width: auto;
          }

          .personal_site_wrapper_media{
            column-gap: 30px;
          }

          .personal_site_media .structure__blocks{
            column-gap: 20px;
          }


          .subservice_rules_wrapper_flex{
            max-width: 428px;
          }

          .characteristic_pic{
            margin-top: -178px;
            }

            .characteristic_pic_list .characteristic_pic_list_block:not(:nth-child(2)){
                display: none;
              }
              
              .characteristic_pic_list .characteristic_pic_list_block:nth-child(2){
                display: inline-block;
              }

              .characteristic .h2_black{
                font-size: 50px;
              }

              .characteristic ul li{
                line-height: 146%;
                width: 95%;
              }

              .characteristic .slider__subtitle{
                width: 95%;
              } 

              .portal_rules_logo .portal_rules_logo_pic:not(:nth-child(2)){
                display: none;
              }
              
              .portal_rules_logo .portal_rules_logo_pic:nth-child(2){
                display: inline-block;
              }

              .portal_rules_media .p3_black{
                line-height: 24px;
                text-align: justify;
              }

              .sozdanie-portala_wrapper-mw548 p{
                max-width: none;
              }

              .bitrix_site_product .bitrix_site_product_img:not(:nth-child(2)){
                display: none;
              }
              
              .bitrix_site_product .bitrix_site_product_img:nth-child(2){
                display: inline-block;
                width: auto;
                max-width: none;
                margin-top: -150px;
              }

              .bitrix_structure__block ul li {
                width: 95%;
                line-height: 135%;
              }

              .margin-top-60{
                margin-top: 0px;
              }

              .wordpress_media .structure__block ul li{
                line-height: 96%;
              }

              .wordpress_preview_media .subservice_task_left .subservice_task_item:last-child{
                margin-top: 0px;
              }

              .vizitki_media .product__list_column-2{
                margin-left: 0px;
              }

              .vizitki_media .structure__block ul li{
                width: 100%;
                line-height: 120%;
              }

              .vizitki_media .product__list_column--img{
                width: 100%;
                margin-top: -150px;
              }

            .vizitki_media .structure__blocks{
                column-gap: 20px;
            }

            .vizitki_media .internet_mag_product .internet_mag_product_img:nth-child(2){
                width: auto;
                max-width: none;
            }

            .vizitki_media .h2_black{
                font-size: 58px;
                letter-spacing: -2.5px;
                line-height: 60px;
            }

            .vizitki_media .col-text-2:last-child{
                width: 374px;  
            }

            .vizitki_rules_logo .vizitki_rules_logo_img:not(:nth-child(2)){
                display: none;
              }
              
              .vizitki_rules_logo .vizitki_rules_logo_img:nth-child(2){
                display: inline-block;
              }

              .vizitki_subservice_rules .col-text-2{
                line-height: 26px;
              }

              .vizitki_subservice_rules_logo .vizitki_subservice_rules_logo_img:not(:nth-child(2)){
                display: none;
              }
              
              .vizitki_subservice_rules_logo .vizitki_subservice_rules_logo_img:nth-child(2){
                display: inline-block;
              }

              .catalog_product_list .catalog_product_list_img:not(:nth-child(2)){
                display: none;
              }
              
              .catalog_product_list .catalog_product_list_img:nth-child(2){
                display: inline-block;
                margin-top: -150px;
                margin-bottom: 40px;
                max-width: none;
              }

              .catalog_media_slider .structure__block ul li{
                line-height: 156%;
              }

              .catalog_intro_subservice .intro__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 100px;
            }
              
            .enterprise_site_media .p3_black{
                font-size: 16px;
                line-height: 24px;
            }

            .med_org .product__list_column-2{
                margin-left: 0px;
            }

            .internet_mag .col-text-2{
                line-height: 19px;
            }

}