.max-width_437{
    max-width: 437px !important;
}
.font_weight_500{
    font-weight: 500 !important;
}
.max-width_580{
    max-width: 580px !important;
}

.max-width_none{
    max-width: none !important;
}

.height{
    max-height: 110px;
}
.max-height216{
    max-height: 216px !important;
}

.max-width800{
    max-width: 800px !important;
}

.width-auto{
    width: auto !important;
}

.max-width650{
    max-width: 650px !important;
}

.max-width700{
    max-width: 700px !important;
}

.max-width860{
    max-width: 860px !important;
}

.max-width450{
    max-width: 450px !important;
}

.max-width566{
    max-width: 566px !important;
}

.height-auto{
    height: auto !important;
}

.letter-space-2{
    letter-spacing: -2px;
}

.max-width475{
    max-width: 475px;
}

.max-width600{
    max-width: 600px !important;
}
