.slider {
    padding: 111px 0 208px 0px;

    &__subtitle {
        // font-size: 14px;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 1px;
            background-color: #342F3F;
            margin-right: 10px;
        }
    }
    &__title {
        margin-top: 11px;
        margin-bottom: 60px;
    }
}

.slider__item-subtitle {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Montserrat-Light';
}

.slider__item-title {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 25px;
}

.slider__item-text {
	font-family: 'Montserrat-Light';
    line-height: 1.5;
}

.slider__item-subtitle,
.slider__item-title,
.slider__item-text {
    color: #fff;
}

.swiper-container {
    // width: 100%;
    position: relative;
    margin-left: 19%;
}

.slide {
    // width: 580px;
    // max-width: 580px;
    height: 580px;
    padding: 284px 110px 0 38px;;
    
}

.slide:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
    background: linear-gradient(180deg, rgba(52, 47, 63, 0.6) 0%, rgba(52, 47, 63, 0.7) 100%), url(.jpg);
	opacity: 0.8;
}
.slider__wrapper {
    // max-width: 465px;
    position: relative;
    z-index: 10;
}
.swiper-slide-1 {
    background-image: url(./../img/slider__img/slide1.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
}
.swiper-slide-2 {
    background-image: url(./../img/slider__img/slide2.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
}
.swiper-slide-3 {
    background-image: url(./../img/slider__img/slide3.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
}

.swiper-button-next,
.swiper-button-prev {
    position: static;
    z-index: 15;
    color: #342F3F;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size: 20px;
}

.slider__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 70px;
    width: 217px;
}

.swiper-pagination-current,
.swiper-pagination-total {
    font-size: 18px;
}


